{% extends 'student/base.html' %}
{% load customfilter %}
{% block left-content %} 

<h1>Candidate Details...!!</h1>
<p class="float-end flt">Application No: {{candidate.id}}</p>
<img src="{{candidate.profile_image.url}}" alt="" class="img-fluid img-thumbnail float-end mt-5 " width="150" height="150">
<p>Name: {{candidate.name}}</p>
<P>Date of Birth: {{candidate.dob}}</P>
<p>Gender: {{candidate.gender}}</p>
<p>Address: {{candidate.locality}} , {{candidate.city}} , {{candidate.state}} - {{candidate.pin}}</p>
<p>Mobile No: {{candidate.mobile}}</p>
<p>Email: {{candidate.email}}</p>
<p>Preferred Job City: {{candidate.job_city|remove_char:"[]'"}}</p>
<p>Attachment: <a href="{{candidate.my_file.url}}">Download File</a></p>
<div class="text-center">
    <a href="/" class="btn btn-danger">Back to home</a>
</div>
{% endblock left-content %}