<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Registration form...!!</h1>
    <form action="">

        <!-- {{form}} -->


        <!-- first_name:{{form.first_name}} <br>
        last_name:{{form.last_name}} <br>
        email:{{form.email}} <br>
        age:{{form.age}} <br>
        city:{{form.city}} <br> -->

        <!-- {{form.first_name.label_tag}} {{form.first_name}} <br>
        {{form.last_name.label_tag}} {{form.last_name}} <br>
        {{form.email.label_tag}} {{form.email}} <br>
        {{form.age.label_tag}} {{form.age}} <br>
        {{form.city.label_tag}} {{form.city}} <br> -->


        <!-- <label for=""> first_name</label> {{form.first_name}} <br>
        <label for="">last_name</label> {{form.last_name}} <br>
        <label for=""> email</label> {{form.email}} <br>
        <label for="">age</label> {{form.age}} <br>
        <label for="">city</label> {{form.city}} <br> -->

        <!-- <label for="{{form.first_name.id_for_label}}"> first name</label> {{form.first_name}} <br>
        <label for="{{form.last_name.id_for_label}}">last name</label> {{form.last_name}} <br>
        <label for="{{form.email.id_for_label}}">email</label> {{form.email}} <br>
        <label for="{{form.age.id_for_label}}">age</label> {{form.age}} <br>
        <label for="{{form.city.id_for_label}}">city</label> {{form.city}} <br> -->


        <!-- <label for="{{form.first_name.id_for_label}}">{{form.first_name.label}}</label> {{form.first_name}} <br>
        <label for="{{form.last_name.id_for_label}}">{{form.last_name.label}}</label> {{form.last_name}} <br>
        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>{{form.email}} <br>
        <label for="{{form.age.id_for_label}}">{{form.age.label}}</label> {{form.age}} <br>
        <label for="{{form.city.id_for_label}}">{{form.city.label}}</label> {{form.city}} <br> -->

         
        <!-- <label for="{{form.first_name.id_for_label}}">first name</label>
        <input type="text" class="fname" name="{{form.first_name.name}}" required id="{{form.first_name.id_for_label}}" value="{{form.first_name.value|default:'tttt'}}"> <br>

        <label for="{{form.last_name.id_for_label}}">last name</label>
        <input type="text" class="lname" name="{{form.last_name.name}}" required id="{{form.last_name.id_for_label}}" value="{{form.last_name.value}}"> <br>

        <label for="{{form.email.id_for_label}}">email</label>
        <input type="text" class="email" name="{{form.email.name}}" required id="{{form.email.id_for_label}}" value="{{form.email.value}}"> <br>

        <label for="{{form.age.id_for_label}}">age</label>
        <input type="text" name="{{form.age.name}}" required id="{{form.age.id_for_label}}" class="age" value="{{form.age.value}}"> <br>

        <label for="{{form.city.id_for_label}}">city</label>
        <input type="text" class="city" name="{{form.city.name}}" required id="{{form.city.id_for_label}}" value="{{form.city.value}}">
       <br>

        <input type="submit" value="submit"> -->


        <!-- <div>

            {{form.first_name.label}}
            {{form.first_name.value}}
            {{form.first_name.html_name}}
            {{form.first_name.field.required}}
            {{form.age.help_text}}

        </div> -->


        <!-- for loop -->

    </form>
</body>
</html>