<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mycss{
            color: red;
        }
        .errorlist{
            color: rgb(7, 194, 240);
        }
    </style>
</head>
<body>
    
    <h1>Students Registration Form......!!!</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <!-- {{forms.as_p}} -->
<!-- 
        {% for field in forms %} 
        {{field.label_tag}} {{field}} -->
         <!-- <span class="mycss"> {{field.errors|striptags}} </span> <br> -->
        <!-- {% for error in field.errors %}
        <span class='csss'> {{error}} </span>
        {% endfor %}
        {% endfor %}
        <input type="submit" value="submit"> -->


        {{forms.as_p}}
        <input type="submit" value="submit">
    
    </form>
</body>
</html>